<nav class="navbar navbar-expand-lg navbar-dark " style="background-color: #1C7F24;">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Adoptr</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li>
            <li><a class="nav-link" href="/siteAdmin/users">users</a></li>
            <li><a class="nav-link" href="/siteAdmin/shelterAdmins">shelterAdmins</a></li>
            <li><a class="nav-link" href="/siteAdmin/atributes">Atribues</a></li>
          </li>
        </ul>
        <ul class="navbar-nav navbar-right">
          <li class="nav-item">
            <a class="nav-link" href="/siteAdmin/logout">
              Logout
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  