<!DOCTYPE html>
<html>
  <head>
    <%- include('../../partials/head'); %>
    <title>Adoptr</title>
  </head>
  <body>

    <%- include('../../partials/header_user'); %>
    <div class="container overflow-hidden">
        <div class="row">
            <div  id="profileFields" class="col" style="padding-right: 10%;">
                <h6 class="display-6" style ="text-decoration: underline;">Pet Profile</h6>
                <data hidden id="shelterID"></data>
                <div id="profileUpdateField"></div>
            </div>
        </div>
        <br><br.<br>

        <div class="tinder">
            <div class="tinder--status">
            </div>
          
            <div class="tinder--container" id = "tinder--container">
                <!--Pet cards inserted here-->
            </div>
          </div>
    
        <h8 class="display-6" style ="text-decoration: underline; padding-top: 2%;">Blurb</h8>
        <div class="mb-3">
            <P>
                Blurb
            </P>
            <br>
        </div>


        <h8 class="display-6" style ="text-decoration: underline; padding-top: 2%;">properties</h8>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col-2">Atribute</th>
                    <th scope="col">value</th>>           
                </tr>
            </thead>
            <tbody id="main-rows">
                <tr>
                    <th scope="col">name</th>
                    <th scope="col">value</th>     
                </tr>
                <tr>
                    <th scope="col">age</th>
                    <th scope="col">value</th>   
                </tr>
                <tr>
                    <th scope="col">sex</th>
                    <th scope="col">value</th>   
                </tr>
                <tr>
                    <th scope="col">type</th>
                    <th scope="col">value</th>      
                </tr>
                <tr>
                    <th scope="col">availability</th>
                    <th scope="col">value</th>     

                </tr>
                <tr>
                    <th scope="col">size</th>
                    <th scope="col">value</th>    
                </tr>
                <tr>
                    <th scope="col">spayed/neutered</th>
                    <th scope="col">value</th>   
                </tr>
                <tr>
                    <th scope="col">Shots Current</th>
                    <th scope="col">value</th>   
                </tr>
            </tbody>
        </table>
    
        </br>




    </div>





    <%- include('../../partials/footer'); %>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" 
            integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" 
            crossorigin="anonymous">
    </script>
    <!--<script src="../../scripts/user/customer_profile.js"></script>-->
    <script src = '../../scripts/user/petProfile.js'></script>

  </body>
</html>
