<!DOCTYPE html>
<html>
  <head>
    <%- include('../../../partials/head'); %>
    <title>Adoptr</title>
  </head>
  <body>

    <%- include('../../../partials/header_siteAdmin'); %>

    <div class="container">
      <h6 class="display-6" style ="text-decoration: underline; padding-top: 2%;">Size Info</h6>
      <div class="card card-body">
        <div class="input-group input-group-sm mb-3">
          <span class="input-group-text" id="inputGroup-sizing-sm">Search</span>
          <input type="text" id="searchBar" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
          <div class="col-2">
            <select class="form-select " id="atribute-form"> 
              <option selected> Size </option>
              <option value="sizeID">sizeID</option>
              <option value="petSize">petSize</option>
            </select>
          </div>

        </div>
        <div class="my-3 mx-4 border-top"></div>

      </div>
      <div class="mt-3"></div>
      <p>
        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNewSize" aria-expanded="false" aria-controls="collapseExample">
          INSERT new Size option
        </button>
      </p>
      <div class="collapse" id="collapseNewSize">
        <div class="card card-body" id="insert-card">
          <div class="input-group input-group-sm mb-3">
            <span class="input-group-text" id="inputGroup-sizing-sm">petSize</span>
            <input type="text" id="new-petSize" class="form-control" aria-label="petSize" aria-describedby="inputGroup-sizing-sm">
          </div>
          <div class="my-3 mx-4 border-top"></div>
          <div class="container-sm">
            <button type="button" class="btn btn-success" id="addSizeButton">INSERT Size option</button>
          </div>
        </div>
      </div>
      
      <div class="mt-3"></div>
      <p>
        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#update-modal" aria-expanded="false" aria-controls="collapseExample">
          UPDATE Size option
        </button>
      </p>
      <div class="collapse" id="update-modal">
        <div class="card card-body" id="insert-card">

          <div class="input-group input-group-sm mb-3">
            <span class="input-group-text" id="inputGroup-sizing-sm">sizeID (PK)</span>
            <select class="form-select " id="update-size-pk-menu"> 
              <option selected> number </option>
            </select>
          </div>
          <div class="input-group input-group-sm mb-3">
            <span class="input-group-text" id="inputGroup-sizing-sm">petSize</span>
            <input type="text" id="update-petSize" class="form-control" aria-label="petSize" aria-describedby="inputGroup-sizing-sm">
          </div>
          <div class="my-3 mx-4 border-top"></div>
          <div class="container-sm">
            <button type="button" class="btn btn-success" id="updateSizeButton">UPDATE Size option</button>
          </div>
        </div>
      </div>

      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">sizeID</th>
            <th scope="col">petSize</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody id="main-rows">
          
        </tbody>
      </table>

      <div class="mt-3"></div>
  
    </div>  

    <div class="progress" id="loadingbar">
      <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
    </div>

    <!-- Modal for updating a shelter admin -->
    <div class="modal fade" id="updateSizeModal" tabindex="-1" aria-labelledby="SizeModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="updateSizeModalTitle">Size Details</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="card card-body" id="insert-card">
              <div class="input-group input-group-sm mb-3">
                <span class="input-group-text" id="inputGroup-sizing-sm">petSize</span>
                <input type="text" id="edit-petSize" class="form-control" aria-label="petSize" aria-describedby="inputGroup-sizing-sm">
              </div>
              <div class="container-sm">
                <button type="button" class="btn btn-success">UPDATE Size option</button>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <%- include('../../../partials/footer'); %>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" 
            integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" 
            crossorigin="anonymous">
    </script>
   <!-- <script src="../../scripts/admin/admin_customers.js"></script> --> 
  </body>
</html>
