<!DOCTYPE html>
<html>
  <head>
    <%- include('../../../partials/head'); %>
    <title>Adoptr</title>
  </head>
  <body>

    <%- include('../../../partials/header_siteAdmin'); %>

    <div class="container">
      <h6 class="display-6" style ="text-decoration: underline; padding-top: 2%;">Breed Info</h6>
      <div class="mt-3"></div>
      <p>
        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNewBreed" aria-expanded="false" aria-controls="collapseExample">
          INSERT new breed option
        </button>
      </p>
      <div class="collapse" id="collapseNewBreed">
        <div class="card card-body" id="insert-card">
          <div class="input-group input-group-sm mb-3">
            <span class="input-group-text" id="inputGroup-sizing-sm">breedName</span>
            <input type="text" id="new-breed-name" class="form-control" aria-label="breedName" aria-describedby="inputGroup-sizing-sm">
          </div>
          <div class="input-group input-group-sm mb-3">
            <span class="input-group-text" id="inputGroup-sizing-sm">typeID</span>
            <input type="text" id="new-type-id" class="form-control" aria-label="typeID" aria-describedby="inputGroup-sizing-sm">
          </div>


          <div class="my-3 mx-4 border-top"></div>
          <div class="container-sm">
            <button type="button" class="btn btn-success" id="addBreedButton">INSERT breed option</button>
          </div>
        </div>
      </div>
      
      <div class="mt-3"></div>
      <p>
        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#update-modal" aria-expanded="false" aria-controls="collapseExample">
          UPDATE breed option
        </button>
      </p>
      <div class="collapse" id="update-modal">
        <div class="card card-body" id="insert-card">

          <div class="input-group input-group-sm mb-3">
            <span class="input-group-text" id="inputGroup-sizing-sm">breedID (PK)</span>
            <select class="form-select " id="update-breed-pk-menu"> 
              <option selected> number </option>
            </select>
          </div>
          <div class="input-group input-group-sm mb-3">
            <span class="input-group-text" id="inputGroup-sizing-sm">Breed Name</span>
            <input type="text" id="update-breed-name" class="form-control" aria-label="breedName" aria-describedby="inputGroup-sizing-sm">
          </div>
          <div class="input-group input-group-sm mb-3">
            <span class="input-group-text" id="inputGroup-sizing-sm">Type</span>
            <select class="form-select " id="update-type-name"> 
              <option selected> Type </option>
            </select>


            <!-- <input type="text" id="update-type-name" class="form-control" aria-label="typeName" aria-describedby="inputGroup-sizing-sm"> -->
          </div>
          <div class="my-3 mx-4 border-top"></div>
          <div class="container-sm">
            <button type="button" class="btn btn-success" id="updateBreedButton">UPDATE breed option</button>
          </div>
        </div>
      </div>

      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">breedID</th>
            <th scope="col">breedName</th>
            <th scope="col">typeID</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody id="main-rows">
          
        </tbody>
      </table>

      <div class="mt-3"></div>
  
    </div>  

    <div class="progress" id="loadingbar">
      <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
    </div>

    <!-- Modal for updating a shelter admin -->
    <div class="modal fade" id="updateBreedModal" tabindex="-1" aria-labelledby="BreedModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="updateBreedModalTitle">breed Details</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="card card-body" id="insert-card">
              <div class="input-group input-group-sm mb-3">
                <span class="input-group-text" id="inputGroup-sizing-sm">breedName</span>
                <input type="text" id="update-breed-name" class="form-control" aria-label="breedName" aria-describedby="inputGroup-sizing-sm">
              </div>
              <div class="input-group input-group-sm mb-3">
                <span class="input-group-text" id="inputGroup-sizing-sm">typeID</span>
                <input type="text" id="update-type-id" class="form-control" aria-label="Breed" aria-describedby="inputGroup-sizing-sm">
              </div>
              <div class="container-sm">
                <button type="button" class="btn btn-success">UPDATE breed option</button>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <%- include('../../../partials/footer'); %>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" 
            integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" 
            crossorigin="anonymous">
    </script>
   <script src="../../../scripts/siteAdmin/breed.js"></script> 
  </body>
</html>
