<!DOCTYPE html>
<html>
  <head>
    <%- include('../../partials/head'); %>
    <title>Adoptr</title>
  </head>
  <body>

    <%- include('../../partials/header_shelterAdmin'); %>
    <div class="container overflow-hidden">
        <div class="row">
            <div  id="profileFields" class="col" style="padding-right: 10%;">
                <h6 class="display-6" style ="text-decoration: underline;">Shelter Information</h6>
                <data hidden id="hidden-shelterID"></data>
                <div id="profileUpdateField"></div>
            </div>
        </div>
        <br><br.<br>
        <div class="row">
            <div class="col">
                <div class = row>
                    <div id="nameUpdateField" class="col" style="padding-left: 10%;">
                        <div class="mb-3">
                            <h3 class="display-6" style ="text-decoration: underline;">Shelter Name</h6>
                        </div>
                        <div class ="row">
                          <div class="col mb-3">
                            <textarea type="name" class="form-control" id="newName" value="name"></textarea>
                          </div>
                          <div class="col-3 mb-3">
                            <input type="name" class="form-control" id="newCode" value="Code">
                          </div>
                        </div>

                        <button class="btn btn-primary" id="updateName">Update</button>
                        <br><br>
                    </div>
                </div>

                <div class = row>
                    <div id="nameUpdateField" class="col" style="padding-left: 10%;">
                        <h6 class="display-6" style ="text-decoration: underline;">location</h6>
                        <div class="mb-3">
                            <div class ='row'>
                                <div class="col">
                                    <input type="name" class="form-control" id="newZip" value = 'zip'>
                                </div>
                                <div class="col">
                                    <input type="name" class="form-control" id="newCity" value = 'city'>
                                </div>
                                <div class="col">
                                    <input type="name" class="form-control" id="newState" value = 'state'>
                                </div>
                            </div>
                        </div>
                        <div class="mb-3"></div>
                        <button class="btn btn-primary" id="updateLocation">Update</button>
                        <br><br>
                    </div>
                </div>

                <div class = "row">
                    <div id="nameUpdateField" class="col" style="padding-left: 10%;">
                        <h6 class="display-6" style ="text-decoration: underline;">contact info</h6>
                        <div class="mb-3">
                            <input type="name" class="form-control" id="currentEmail" value = 'email'>
                        </div>
                        <div class="mb-3"></div>
                        <div class="mb-3">
                            <input type="name" class="form-control" id="currentPhone" value = 'Phone number'>
                        </div>
                        <div class="mb-3"></div>
                        <button class="btn btn-primary" id="updateContact">Update</button>
                        <br><br>
                    </div>
                </div>


            </div>
            <div class="col">
                <div id="passwordUpdateField" class="col" style="padding-left: 10%;">
                    <h6 class="display-6" style ="text-decoration: underline;">Password</h6>
                        <div class="mb-3">
                            <label for="currentPassword" class="form-label">Current Password</label>
                            <input type="password" class="form-control" id="currentPassword">
                        </div>
                        <div class="mb-3">
                            <label for="newPassword" class="form-label">New Password</label>
                            <input type="password" class="form-control" id="newPassword">
                        </div>
                        <div class="mb-3">
                            <label for="confirmPassword" class="form-label">Confirm Password</label>
                            <input type="password" class="form-control" id="confirmPassword">
                        </div>
                        <button class="btn btn-primary" id="updatePassword">Update</button>
                        <br><br>
                </div>  
            </div>
        </div>




      <!-- <div class="card card-body">
        <div class="input-group input-group-sm mb-3">
          <span class="input-group-text" id="inputGroup-sizing-sm">Search</span>
          <input type="text" id="searchBar" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
          <div class="col-2">
            <select class="form-select " id="atribute-form"> 
              <option selected> Property </option>
              <option value="petName">pet Name</option>
              <option value="petType">pet type</option>
              <option value="petAge">pet age</option>
              <option value="petSex">pet sex</option>
            </select>
          </div>
        </div>
        <div class="my-3 mx-4 border-top"></div>
        <div class="container-sm">
          <button type="button" class="btn btn-success" id="searchButton">SELECT Pet(s)</button>
        </div>
      </div> -->
  


        <h6 class="display-6" style ="text-decoration: underline; padding-top: 2%;">Pet List</h6>
        <table class="table table-striped">
            <thead>
                <tr>
                  <th scope="col">Name</th>
                  <th scope="col">type</th>
                  <th scope="col">age</th>
                  <th scope="col">sex</th>
                  <th scope="col">Actions</th>     
                </tr>
            </thead>
            <tbody id="main-rows">
            </tbody>
        </table>


        <p>
          <button class="btn btn-success" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNewPet" aria-expanded="false" aria-controls="collapseExample">
            INSERT new Pet
          </button>
        </p>
        <div class="collapse" id="collapseNewPet">
          <div class="card card-body" id="insert-card">
            <div class="input-group input-group-sm mb-3">
              <span class="input-group-text" id="inputGroup-sizing-sm">Name</span>
              <input type="text" id="new-pet-name" class="form-control" aria-label="petName" aria-describedby="inputGroup-sizing-sm">
            </div>
            <div class="input-group input-group-sm mb-3" id="new-pet-type">
              <span class="input-group-text" id="inputGroup-sizing-sm">type</span>
              <select class="form-select " id="atribute-form-type"> 
                <option selected> Undefined </option>
              </select>
            </div>
            <div class="input-group input-group-sm mb-3" id="new-pet-age">
              <span class="input-group-text" id="inputGroup-sizing-sm">age</span>
              <select class="form-select " id="atribute-form"> 
                <option selected> Undefined </option>
                <option value="Baby">Baby</option>
                <option value="Young">Young</option>
                <option value="Adult">Adult</option>
                <option value="Senior">Senior</option>
              </select>
            </div>
            <div class="input-group input-group-sm mb-3" id="new-pet-sex">
              <span class="input-group-text" id="inputGroup-sizing-sm">sex</span>
              <select class="form-select " id="atribute-form"> 
                <option selected> Undefined </option>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
              </select>
            </div>

            <div class="my-3 mx-4 border-top"></div>
            <div class="container-sm">
              <button type="button" class="btn btn-primary" id="addPetButton">INSERT Pet</button>
            </div>
          </div>
        </div>

    </div>





    <div class="progress" id="loadingbar">
      <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
    </div>



    <!-- Modal -->
    <div class="modal fade" id="petModal" tabindex="-1" aria-labelledby="petModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modalTitle">Pet Details</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body" id="petModalBody">
            <img id="petIMG">
            <h6 class="display-6" style ="text-decoration: underline; padding-top: 2%;"></h6>
            <table class="table table-striped">
              <tbody id="modal-table">
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    
    <%- include('../../partials/footer'); %>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" 
            integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" 
            crossorigin="anonymous">
    </script>
    <script src="../../scripts/shelterAdmin/shelterProfile.js"></script>

  </body>
</html>





