*, *:before, *:after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  body {
    background: #CCFBFE;
    font-family: sans-serif;
  }
  
  .tinder {
    width: 100vw;
    height: 100vh;
    max-height: 650px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: relative;
    opacity: 0;
    transition: opacity 0.1s ease-in-out;
    flex-wrap: wrap;
  }
  
  .loaded.tinder {
    text-align: center;
    opacity: 1;
  }
  
  .tinder--status {
    position: absolute;
    top: 50%;
    margin-top: -30px;
    z-index: 2;
    width: 100%;
    text-align: center;
    pointer-events: none;
  }
  
  .tinder--status i {
    font-size: 100px;
    opacity: 0;
    transform: scale(0.3);
    transition: all 0.2s ease-in-out;
    position: absolute;
    width: 100px;
    margin-left: -50px;
  }
  
  .tinder_love .fa-heart {
    opacity: 0.7;
    transform: scale(1);
  }
  
  .tinder_nope .fa-remove {
    opacity: 0.7;
    transform: scale(1);
  }
  
  .tinder--container {
    flex-grow: 1;;
    padding-top: 40px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    z-index: 1;
    max-height: 50vh;
    outline: grey;
  }
  
  .tinder--card {
    display: inline-block;
    width: 80vw;
    max-width: 400px;
    height: 50%;
    max-height: 500px;
    background: #FFFFFF;
    padding-bottom: 0px;
    border-radius: 8px;
    position: absolute;
    will-change: transform;
    transition: all 0.3s ease-in-out;
    cursor: -webkit-grab;
    cursor: -moz-grab;
    cursor: grab;
  }
  
  .moving.tinder--card {
    transition: none;
    cursor: -webkit-grabbing;
    cursor: -moz-grabbing;
    cursor: grabbing;
  }
  
  .tinder--card img {
    max-width: 70%;
    max-height: 70%;
    pointer-events: none;
    overflow: hidden;
  }
  
  .tinder--card h3 {
    margin-top: 32px;
    font-size: 32px;
    padding: 0 8px;
    pointer-events: none;
  }
  
  .tinder--card p {
    margin-top: 24px;
    font-size: 20px;
    padding: 0 16px;
    pointer-events: none;
  }
  
  .tinder--buttons {
    flex: 0 0 200px;
    padding-top: 0px;
    top:10%
  }
  
  .tinder--buttons button {
    border-radius: 50%;
    line-height: 60px;
    width: 100px;
    height: 100px;
    border: 0;
    background: #f5f5f5;
    display: inline-block;
    margin: 0 8px;
  }
  
  .tinder--buttons button:focus {
    outline: 1;
  }
  
  .tinder--buttons i {
    font-size: 102px;
    margin: auto;
    text-align: center;
    vertical-align: middle;
    align-items: center;
  }

  
  .fa-heart {
    color: red;
  }
  
  .fa-remove {
    color: green;
  }
  