*, *:before, *:after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  body {
    background: #ecf8f9;
    font-family: sans-serif;
    padding-bottom: 50px;
  }

  
  h1.datingCard--title{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    padding-top: 30px;
    font-size: 4em;
  }

  .tinder {
    width: 100vw;
    height: 100vh;
    /* max-height: 650px; */
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: relative;
    opacity: 0;
    transition: opacity 0.1s ease-in-out;
    flex-wrap: wrap;
  }
  
  .loaded.tinder {
    text-align: center;
    opacity: 1;
  }
  
  .tinder--status {
    position: absolute;
    top: 50%;
    margin-top: -30px;
    z-index: 2;
    width: 100%;
    text-align: center;
    pointer-events: none;
  }
  
  .tinder--status i {
    font-size: 100px;
    opacity: 0;
    transform: scale(0.3);
    transition: all 0.2s ease-in-out;
    position: absolute;
    width: 100px;
    margin-left: -50px;
  }
  
  .tinder_love .fa-heart {
    opacity: 0.7;
    transform: scale(1);
  }
  
  .tinder_nope .fa-remove {
    opacity: 0.7;
    transform: scale(1);
  }
  
  .tinder--container {
    flex-grow: 1;;
    padding-top: 0px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    z-index: 1;
    max-height: 600px;
    outline: grey;
  }
  
  .tinder--card {
    display: inline-block;
    width: 80vw;
    max-width: 400px;
    height: 50%;
    max-height: 500px;
    background: #FFFFFF;
    padding-bottom: 0px;
    border-radius: 8px;
    position: absolute;
    will-change: transform;
    transition: all 0.3s ease-in-out;
    cursor: -webkit-grab;
    cursor: -moz-grab;
    cursor: grab;
  }
  
  .moving.tinder--card {
    transition: none;
    cursor: -webkit-grabbing;
    cursor: -moz-grabbing;
    cursor: grabbing;
  }
  
  .tinder--card img {
    padding-top: 10px;
    max-width: 70%;
    height:70%;
    max-height: 400px;
    pointer-events: none;
    overflow: hidden;
  }
  
  .tinder--card h3 {
    margin-top: 32px;
    font-size: 32px;
    padding: 0 8px;
    pointer-events: none;
  }
  
  .tinder--card p {
    margin-top: 24px;
    font-size: 20px;
    padding: 0 16px;
    pointer-events: none;
  }
  
  .tinder--buttons {
    flex: 0, 0, 100px;
    padding-top: 10px;
    position: relative;
  }
  
  .tinder--buttons button {
    border-radius: 50%;
    width: 7vw;
    height: 10vh;
    border: 0;
    background: white;
    display: inline-block;
  }
  
  .tinder--buttons button:focus {
    outline: 1;
  }
  
  .tinder--buttons i {
    vertical-align: middle;
  }

  
  .fa-heart {
    color: red;
  }
  
  .fa-remove {
    color: green;
  }


  /* petProfiles row */
  /* Three image containers (use 25% for four, and 50% for two, etc) */
.petColumn {
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  
  /* Clear floats after image containers */
  .petRow::after {
    content: "";
    clear: both;
    display: table;
  }


  /* user login error message */

  #login-error-msg-holder {
    width: 100%;
    height: 100%;
    display: grid;
    justify-items: center;
    align-items: center;
  }

  #login-error-msg {
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 5px;
    font-size: 12px;
    font-weight: bold;
    color: #8a0000;
    border: 1px solid #8a0000;
    background-color: #e58f8f;
    opacity: 0;
  }

  /* New User Creation Error Messages */

  #missing-error-msg-holder {
    width: 100%;
    height: 5%;
    display: grid;
    justify-items: center;
    align-items: center;
  }

  #missing-error-msg {
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 5px;
    font-size: 12px;
    font-weight: bold;
    color: #8a0000;
    border: 1px solid #8a0000;
    background-color: #e58f8f;
    opacity: 0;
  }

  #email-error-msg-holder {
    width: 100%;
    height: 5%;
    display: grid;
    justify-items: center;
    align-items: center;
  }

  #email-error-msg {
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 5px;
    font-size: 12px;
    font-weight: bold;
    color: #8a0000;
    border: 1px solid #8a0000;
    background-color: #e58f8f;
    opacity: 0;
  }

  #invalidEmail-error-msg-holder {
    width: 100%;
    height: 5%;
    display: grid;
    justify-items: center;
    align-items: center;
  }

  #invalidEmail-error-msg {
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 5px;
    font-size: 12px;
    font-weight: bold;
    color: #8a0000;
    border: 1px solid #8a0000;
    background-color: #e58f8f;
    opacity: 0;
  }

  #password-error-msg-holder {
    width: 100%;
    height: 5%;
    display: grid;
    justify-items: center;
    align-items: center;
  }

  #password-error-msg {
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 5px;
    font-size: 12px;
    font-weight: bold;
    color: #8a0000;
    border: 1px solid #8a0000;
    background-color: #e58f8f;
    opacity: 0;
  }


  /* logout button header */
  #logout {
    opacity: 0;
  }

  /* landing page css */
  /* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
    height: 10%
  }
  
  /* Caption text */
  .slide-text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .slide-numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .slide-dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .slide-active {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 3.5s;
  }
  
  #landingBody{
    font-family: Verdana, sans-serif;
    box-sizing: border-box;
    max-height: 30%;
  }

  .mySlides{
    display:none
  }

  .slideImg{
    vertical-align: middle;
    height: 10%;
    margin-left: 15%;
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }

  #landingLoginDiv{
    text-align: center;
  }
  
  #landingLogin{
    display: block;
    text-align: center;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 0;
    border-radius: 4px;
    font-weight: 600;
    width: 200px;
    padding: 10px 0;
    margin: 0 auto;
    box-shadow: 0 0 20px rgba(104, 85, 224, 0.2);
    transition: 0.4s;
  }
  